## Haiti Health Data Analysis

You are an analyst working at a health research company in Haiti.  The government has asked your company to analyze data related to covid-19.  To that end, they have provided you with access to health data.

Your goal as a Data Manager is to provide
*  Relational Database to manage all the data collection
* Use SQL Language to answers some query provided from the Board
* Build a dashboard with Power BI to illustrate all the activites of covid

Here all the dataset used for this project

In [209]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\elzina cherubin\appdata\local\programs\python\python39\lib\site-packages (1.4.22)WARNING: You are using pip version 21.1.1; however, version 21.2.3 is available.
You should consider upgrading via the 'c:\users\elzina cherubin\appdata\local\programs\python\python39\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: greenlet!=0.4.17 in c:\users\elzina cherubin\appdata\local\programs\python\python39\lib\site-packages (from sqlalchemy) (1.1.1)

In [211]:
!pip3 install psycopg2

Requirement already satisfied: psycopg2 in c:\users\elzina cherubin\appdata\local\programs\python\python39\lib\site-packages (2.9.1)
WARNING: You are using pip version 21.1.1; however, version 21.2.3 is available.
You should consider upgrading via the 'c:\users\elzina cherubin\appdata\local\programs\python\python39\python.exe -m pip install --upgrade pip' command.

In [ ]:
!pip install pandas

In [188]:
!pip3 install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\elzina cherubin\appdata\local\programs\python\python39\lib\site-packages (0.4.0)WARNING: You are using pip version 21.1.1; however, version 21.2.3 is available.
You should consider upgrading via the 'c:\users\elzina cherubin\appdata\local\programs\python\python39\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\elzina cherubin\appdata\local\programs\python\python39\lib\site-packages (from ipython-sql) (1.4.22)
Requirement already satisfied: ipython>=1.0 in c:\users\elzina cherubin\appdata\roaming\python\python39\site-packages (from ipython-sql) (7.24.1)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\elzina cherubin\appdata\roaming\python\python39\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: six in c:\users\elzina cherubin\appdata\roaming\python\python39\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: sqlparse in c:\users\elzina cherubin\appdata\local\programs\python\python39\lib\site-packages (from ipython-sql) (0.4.1)
Requirement already satisfied: prettytable<1 in c:\users\elzina cherubin\appdata\local\programs\python\python39\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: decorator in c:\users\elzina cherubin\appdata\roaming\python\python39\site-packages (from ipython>=1.0->ipython-sql) (5.0.9)
Requirement already satisfied: pickleshare in c:\users\elzina cherubin\appdata\roaming\python\python39\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: jedi>=0.16 in c:\users\elzina cherubin\appdata\roaming\python\python39\site-packages (from ipython>=1.0->ipython-sql) (0.18.0)
Requirement already satisfied: backcall in c:\users\elzina cherubin\appdata\roaming\python\python39\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in c:\users\elzina cherubin\appdata\roaming\python\python39\site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: colorama in c:\users\elzina cherubin\appdata\roaming\python\python39\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: traitlets>=4.2 in c:\users\elzina cherubin\appdata\roaming\python\python39\site-packages (from ipython>=1.0->ipython-sql) (5.0.5)
Requirement already satisfied: setuptools>=18.5 in c:\users\elzina cherubin\appdata\local\programs\python\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (56.0.0)
Requirement already satisfied: pygments in c:\users\elzina cherubin\appdata\roaming\python\python39\site-packages (from ipython>=1.0->ipython-sql) (2.9.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\elzina cherubin\appdata\roaming\python\python39\site-packages (from ipython>=1.0->ipython-sql) (3.0.18)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\elzina cherubin\appdata\roaming\python\python39\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.2)
Requirement already satisfied: wcwidth in c:\users\elzina cherubin\appdata\roaming\python\python39\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\elzina cherubin\appdata\local\programs\python\python39\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.1)

In [189]:
import pandas as pd
import numpy as np
import sqlalchemy as db
from sqlalchemy import create_engine

In [190]:
user ='postgres'
password = "1234"
database ='postgres'
hostname ='localhost'
port ='5432'
driver ='postgresql://'
db_url =f'{driver}{user}:{password}@{hostname}:{port}/{database}'

In [191]:
db_url

'postgresql://postgres:1234@localhost:5432/postgres'

In [192]:
import sqlalchemy as db
import pandas as pd

In [193]:
covid_cases = pd.read_csv("./datasets/mspp_covid19_cases.csv")
display(covid_cases.head(10))
covid_cases.info()

,Unnamed: 0,departement,cas_suspects,cas_confirmes,deces,taux_de_letalite,document_date
0,0,Artibonite,47,4,0,0.00,2020-04-15
1,1,Centre,14,1,0,0.00,2020-04-15
2,2,Grande'Anse,2,0,0,0.00,2020-04-15
3,3,Nippes,16,2,0,0.00,2020-04-15
4,4,Nord,28,0,0,0.00,2020-04-15
5,5,Nord-Est,24,7,2,0.29,2020-04-15
6,6,Nord-Ouest,7,1,0,0.00,2020-04-15
7,7,Ouest,317,24,1,0.04,2020-04-15
8,8,Sud,8,0,0,0.00,2020-04-15
9,9,Sud-Est,22,4,0,0.00,2020-04-15

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        99 non-null     int64
 1   departement       99 non-null     object
 2   cas_suspects      99 non-null     int64
 3   cas_confirmes     99 non-null     int64
 4   deces             99 non-null     int64
 5   taux_de_letalite  99 non-null     float64
 6   document_date     99 non-null     object
dtypes: float64(1), int64(4), object(2)
memory usage: 5.5+ KB

In [194]:
covid_cases

,Unnamed: 0,departement,cas_suspects,cas_confirmes,deces,taux_de_letalite,document_date
0,0,Artibonite,47,4,0,0.00,2020-04-15
1,1,Centre,14,1,0,0.00,2020-04-15
2,2,Grande'Anse,2,0,0,0.00,2020-04-15
3,3,Nippes,16,2,0,0.00,2020-04-15
4,4,Nord,28,0,0,0.00,2020-04-15
...,...,...,...,...,...,...,...
94,94,Nord-Ouest,6,1,0,0.00,2020-04-07
95,95,Ouest,196,18,1,0.06,2020-04-07
96,96,Sud,6,0,0,0.00,2020-04-07
97,97,Sud-Est,21,4,0,0.00,2020-04-07
98,98,Grand Total,291,27,1,0.04,2020-04-07

In [195]:
covid_cases = pd.merge(left=covid_cases, right=depart, on= "departement", how= "left")

In [196]:
covid_cases0 =covid_cases.copy()

In [197]:
covid_cases0.drop(["Unnamed: 0","departement"],axis=1,inplace=True)

In [198]:
covid_cases0= covid_cases0.iloc[0:98, :]

In [237]:
covid_cases0.rename(columns={'adm1code':'departement_id'},inplace=True)

C:\Users\Elzina Cherubin\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\frame.py:5034: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [200]:
covid_cases0

,cas_suspects,cas_confirmes,deces,taux_de_letalite,document_date,departement_id
0,47,4,0,0.00,2020-04-15,HT05
1,14,1,0,0.00,2020-04-15,HT06
2,2,0,0,0.00,2020-04-15,HT08
3,16,2,0,0.00,2020-04-15,HT10
4,28,0,0,0.00,2020-04-15,HT03
...,...,...,...,...,...,...
93,5,1,0,0.00,2020-04-07,HT04
94,6,1,0,0.00,2020-04-07,HT09
95,196,18,1,0.06,2020-04-07,HT01
96,6,0,0,0.00,2020-04-07,HT07
97,21,4,0,0.00,2020-04-07,HT02

In [201]:
covid_cases0.rename(columns={'document_date':'document_id'})

,cas_suspects,cas_confirmes,deces,taux_de_letalite,document_id,departement_id
0,47,4,0,0.00,2020-04-15,HT05
1,14,1,0,0.00,2020-04-15,HT06
2,2,0,0,0.00,2020-04-15,HT08
3,16,2,0,0.00,2020-04-15,HT10
4,28,0,0,0.00,2020-04-15,HT03
...,...,...,...,...,...,...
93,5,1,0,0.00,2020-04-07,HT04
94,6,1,0,0.00,2020-04-07,HT09
95,196,18,1,0.06,2020-04-07,HT01
96,6,0,0,0.00,2020-04-07,HT07
97,21,4,0,0.00,2020-04-07,HT02

In [263]:

spa = pd.read_csv("./datasets/spa.csv")
display(spa.head(5))
display(spa.info())
map_dict = {"mga": [1,2,3,4], "mga_type": ['public','private non profit','private with profit', 'private and public']}
mga = pd.DataFrame(map_dict)
mga

,Unnamed: 0,index,facil,depart,departn,vilcom,vilcomn,factype,facdesc_1,facdesc,mga,service_laboratory,num_beds,ambulance,full_time
0,0,0,1,1,Ouest,11,Port-Au-Prince,7.0,DISPENSAIRE,DISPENSAIRE,3,1.0,NaN,3.0,5.0
1,1,1,2,1,Ouest,11,Port-Au-Prince,3.0,HOPITAL,HOPITAL COMMUNAUTAIRE DE REFERENCE,1,1.0,25.0,3.0,18.0
2,2,2,3,1,Ouest,11,Port-Au-Prince,6.0,CENTRE DE SANTE SANS LIT,CENTRE DE SANTE SANS LIT,3,1.0,201.0,1.0,141.0
3,3,3,4,1,Ouest,11,Port-Au-Prince,5.0,CENTRE DE SANTE AVEC LIT,CENTRE DE SANTE AVEC LIT,3,1.0,7.0,3.0,13.0
4,4,4,5,1,Ouest,11,Port-Au-Prince,6.0,CENTRE DE SANTE SANS LIT,CENTRE DE SANTE SANS LIT,2,1.0,NaN,3.0,10.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1033 entries, 0 to 1032
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          1033 non-null   int64
 1   index               1033 non-null   int64
 2   facil               1033 non-null   int64
 3   depart              1033 non-null   int64
 4   departn             1033 non-null   object
 5   vilcom              1033 non-null   int64
 6   vilcomn             1033 non-null   object
 7   factype             1033 non-null   float64
 8   facdesc_1           1033 non-null   object
 9   facdesc             1033 non-null   object
 10  mga                 1033 non-null   int64
 11  service_laboratory  1007 non-null   float64
 12  num_beds            474 non-null    float64
 13  ambulance           1007 non-null   float64
 14  full_time           1007 non-null   float64
dtypes: float64(5), int64(6), object(4)
memory usage: 121.2+ KB

None

   mga             mga_type
0    1               public
1    2   private non profit
2    3  private with profit
3    4   private and public

In [264]:
covid_cases0=covid_cases0[-(covid_cases0.departement_id.isnull())]

In [ ]:
#covid_cases1=covid_cases1[-(covid_cases1.adm1code.isnull())]

In [235]:
covid_cases0

,cas_suspects,cas_confirmes,deces,taux_de_letalite,document_date,departement_id,Date_Id
0,47,4,0,0.00,2020-04-15,HT05,20200415
1,14,1,0,0.00,2020-04-15,HT06,20200415
2,2,0,0,0.00,2020-04-15,HT08,20200415
3,16,2,0,0.00,2020-04-15,HT10,20200415
4,28,0,0,0.00,2020-04-15,HT03,20200415
...,...,...,...,...,...,...,...
93,5,1,0,0.00,2020-04-07,HT04,20200407
94,6,1,0,0.00,2020-04-07,HT09,20200407
95,196,18,1,0.06,2020-04-07,HT01,20200407
96,6,0,0,0.00,2020-04-07,HT07,20200407
97,21,4,0,0.00,2020-04-07,HT02,20200407

In [265]:
spa["depart"] = spa['depart'].apply(lambda x: str(x))
spa['vilcom'] = spa['vilcom'].apply(lambda x: str(x))

In [266]:
spa['depart'].unique()

array(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10'], dtype=object)

In [267]:
spa['commune_id'] = spa['depart'].apply(lambda x: "HT" + x if len(x)==2 else "HT0" + x)
spa['vilcom'] = spa['vilcom'].apply(lambda x: x if len(x)==2 else "0" + x)

In [268]:
spa['commune_id'] = spa['commune_id'] + spa['vilcom']

In [269]:
spa0=spa.loc[:,['index','commune_id','facdesc_1','mga','service_laboratory','num_beds','ambulance']]

In [270]:
spa['commune_id']

0       HT0111
1       HT0111
2       HT0111
3       HT0111
4       HT0111
         ...
1028    HT0121
1029    HT0211
1030    HT0102
1031    HT0606
1032    HT0211
Name: commune_id, Length: 1033, dtype: object

In [271]:
spa0

,index,commune_id,facdesc_1,mga,service_laboratory,num_beds,ambulance
0,0,HT0111,DISPENSAIRE,3,1.0,NaN,3.0
1,1,HT0111,HOPITAL,1,1.0,25.0,3.0
2,2,HT0111,CENTRE DE SANTE SANS LIT,3,1.0,201.0,1.0
3,3,HT0111,CENTRE DE SANTE AVEC LIT,3,1.0,7.0,3.0
4,4,HT0111,CENTRE DE SANTE SANS LIT,2,1.0,NaN,3.0
...,...,...,...,...,...,...,...
1028,1028,HT0121,CENTRE DE SANTE SANS LIT,2,1.0,NaN,3.0
1029,1029,HT0211,DISPENSAIRE,2,2.0,NaN,3.0
1030,1030,HT0102,CENTRE DE SANTE SANS LIT,3,1.0,NaN,1.0
1031,1031,HT0606,CENTRE DE SANTE SANS LIT,3,1.0,NaN,3.0
1032,1032,HT0211,CENTRE DE SANTE AVEC LIT,3,1.0,3.0,3.0

In [226]:

departement = pd.read_excel("./datasets/hti_adminboundaries_tabulardata.xlsx",sheet_name=1)
commune  = pd.read_excel("./datasets/hti_adminboundaries_tabulardata.xlsx",sheet_name=2)
display(departement.head(5))
display(departement.info())
display(commune.head(5))
display(commune.info())

,adm0code,adm0_en,adm0_fr,adm0_ht,adm1code,adm1_en,adm1_fr,adm1_ht,IHSI_UNFPA_2019,IHSI_UNFPA_2019_female,IHSI_UNFPA_2019_male
0,HT,Haiti,Haïti,Ayiti,HT01,West,Ouest,Lwès,5.010206e+06,2587360,2422846
1,HT,Haiti,Haïti,Ayiti,HT02,South-East,Sud-Est,Sidès,8.939007e+05,448111,445790
2,HT,Haiti,Haïti,Ayiti,HT03,North,Nord,Nò,1.159762e+06,589825,569932
3,HT,Haiti,Haïti,Ayiti,HT04,North-East,Nord-Est,Nòdès,4.444631e+05,221501,222966
4,HT,Haiti,Haïti,Ayiti,HT05,Artibonite,Artibonite,Latibonit,2.047153e+06,1034065,1013085

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   adm0code                10 non-null     object
 1   adm0_en                 10 non-null     object
 2   adm0_fr                 10 non-null     object
 3   adm0_ht                 10 non-null     object
 4   adm1code                10 non-null     object
 5   adm1_en                 10 non-null     object
 6   adm1_fr                 10 non-null     object
 7   adm1_ht                 10 non-null     object
 8   IHSI_UNFPA_2019         10 non-null     float64
 9   IHSI_UNFPA_2019_female  10 non-null     int64
 10  IHSI_UNFPA_2019_male    10 non-null     int64
dtypes: float64(1), int64(2), object(8)
memory usage: 1008.0+ bytes

None

,adm0code,adm0_en,adm0_fr,adm0_ht,adm1code,adm1_en,adm1_fr,adm1_ht,adm2code,adm2_en,adm2_fr,adm2_ht,IHSI_UNFPA_2019,IHSI_UNFPA_2019_female,IHSI_UNFPA_2019_male
0,HT,Haiti,Haïti,Ayiti,HT01,West,Ouest,Lwès,HT0111,Port-au-Prince,Port-au-Prince,,1.227540e+06,648353,579188
1,HT,Haiti,Haïti,Ayiti,HT01,West,Ouest,Lwès,HT0112,Delmas,Delmas,,4.914342e+05,258526,232908
2,HT,Haiti,Haïti,Ayiti,HT01,West,Ouest,Lwès,HT0113,Carrefour,Carrefour,,6.357646e+05,333500,302263
3,HT,Haiti,Haïti,Ayiti,HT01,West,Ouest,Lwès,HT0114,Petion-Ville,Pétion-Ville,,4.685251e+05,241407,227118
4,HT,Haiti,Haïti,Ayiti,HT01,West,Ouest,Lwès,HT0115,Kenscoff,Kenscoff,,7.140848e+04,35608,35800

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140 entries, 0 to 139
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   adm0code                140 non-null    object
 1   adm0_en                 140 non-null    object
 2   adm0_fr                 140 non-null    object
 3   adm0_ht                 140 non-null    object
 4   adm1code                140 non-null    object
 5   adm1_en                 140 non-null    object
 6   adm1_fr                 140 non-null    object
 7   adm1_ht                 140 non-null    object
 8   adm2code                140 non-null    object
 9   adm2_en                 140 non-null    object
 10  adm2_fr                 140 non-null    object
 11  adm2_ht                 140 non-null    object
 12  IHSI_UNFPA_2019         140 non-null    float64
 13  IHSI_UNFPA_2019_female  140 non-null    int64
 14  IHSI_UNFPA_2019_male    140 non-null    int64
dtypes: float64(1), int64(2), object(12)
memory usage: 16.5+ KB

None

In [228]:
depart= departement[["adm1code", "adm1_fr"]]
depart.rename(columns={'adm1_fr':"departement"}, inplace= True)

In [229]:
departement.head()
departement=departement.loc[:,["adm1_en"]]
departement

       adm1_en
0         West
1   South-East
2        North
3   North-East
4   Artibonite
5       Centre
6        South
7  Grande'Anse
8   North-West
9       Nippes

In [216]:
commune["population"]=commune["IHSI_UNFPA_2019_female"]+commune["IHSI_UNFPA_2019_male"]

In [217]:
commune

,adm0code,adm0_en,adm0_fr,adm0_ht,adm1code,adm1_en,adm1_fr,adm1_ht,adm2code,adm2_en,adm2_fr,adm2_ht,IHSI_UNFPA_2019,IHSI_UNFPA_2019_female,IHSI_UNFPA_2019_male,population
0,HT,Haiti,Haïti,Ayiti,HT01,West,Ouest,Lwès,HT0111,Port-au-Prince,Port-au-Prince,,1.227540e+06,648353,579188,1227541
1,HT,Haiti,Haïti,Ayiti,HT01,West,Ouest,Lwès,HT0112,Delmas,Delmas,,4.914342e+05,258526,232908,491434
2,HT,Haiti,Haïti,Ayiti,HT01,West,Ouest,Lwès,HT0113,Carrefour,Carrefour,,6.357646e+05,333500,302263,635763
3,HT,Haiti,Haïti,Ayiti,HT01,West,Ouest,Lwès,HT0114,Petion-Ville,Pétion-Ville,,4.685251e+05,241407,227118,468525
4,HT,Haiti,Haïti,Ayiti,HT01,West,Ouest,Lwès,HT0115,Kenscoff,Kenscoff,,7.140848e+04,35608,35800,71408
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,HT,Haiti,Haïti,Ayiti,HT10,Nippes,Nippes,Nip,HT1023,L'Asile,L'Asile,,4.219183e+04,20121,22070,42191
136,HT,Haiti,Haïti,Ayiti,HT10,Nippes,Nippes,Nip,HT1024,Arnaud,Arnaud,,2.128319e+04,10053,11230,21283
137,HT,Haiti,Haïti,Ayiti,HT10,Nippes,Nippes,Nip,HT1025,Plaisance du Sud,Plaisance du Sud,,2.798747e+04,12786,15203,27989
138,HT,Haiti,Haïti,Ayiti,HT10,Nippes,Nippes,Nip,HT1031,Baraderes,Baradères,,4.210283e+04,19234,22868,42102
139,HT,Haiti,Haïti,Ayiti,HT10,Nippes,Nippes,Nip,HT1032,Grand-Boucan,Grand-Boucan,,5.972943e+03,2793,3180,5973

In [218]:
commune0=commune[["adm2code","adm2_en","adm1code","population"]]
commune0.rename(columns={"adm2code":"commune_id","adm1code":"departement_id","adm2_en":"commune"},inplace= True)
commune0

C:\Users\Elzina Cherubin\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\frame.py:5034: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

    commune_id           commune departement_id  population
0       HT0111    Port-au-Prince           HT01     1227541
1       HT0112            Delmas           HT01      491434
2       HT0113         Carrefour           HT01      635763
3       HT0114      Petion-Ville           HT01      468525
4       HT0115          Kenscoff           HT01       71408
..         ...               ...            ...         ...
135     HT1023           L'Asile           HT10       42191
136     HT1024            Arnaud           HT10       21283
137     HT1025  Plaisance du Sud           HT10       27989
138     HT1031         Baraderes           HT10       42102
139     HT1032      Grand-Boucan           HT10        5973

[140 rows x 4 columns]

# Questions

* Question 1: Create a relational database with this raw data set.
* Question 2. Calculate the number of health facilities per commune. 
* Question 3. Calculate the number of health facilities by commune and by type of health facility.
* Question 4. Calculate the number of health facilities by municipality and by department.
* Question 5: Calculate the number of sites by type (mga) and by department.
* Question 6: Calculate the number of sites with an ambulance by commune and by department (ambulance = 1.0).
* Question 7. Calculate the number of hospitals per 10k inhabitants by department.
* Question 8. Calculate the number of sites per 10k inhabitants per department * Question 9.
* Question 9: Calculate the number of beb per 1,000 inhabitants per department.
* Question 10.How many communes have fewer dispensaries than hospitals?
* Question 11 How many  Letality rate per month
* Question 12 How many Death rate per month 
* Question 13 How many Prevalence per month 
* Question 14 How many Prevalence by department
* Question 15 What is the variation of the prevalence per week
* Question 16. Build a Power BI dashboard to understand the health structures in Hait

your Goal as  a Data Management is to

In [219]:
skills= [1,2]
skills.insert(1,6)
skills

[1, 6, 2]

In [220]:
engine =db.create_engine('postgresql://postgres:1234@localhost:5432/postgres')
engine.connect

In [221]:
covid_cases0['document_date'] =pd.to_datetime(covid_cases0['document_date'])
covid_cases0['Date_Id'] =covid_cases0.document_date.apply(lambda x: str(x).replace("-","")[0:8])

In [222]:
covid_cases0

,cas_suspects,cas_confirmes,deces,taux_de_letalite,document_date,departement_id,Date_Id
0,47,4,0,0.00,2020-04-15,HT05,20200415
1,14,1,0,0.00,2020-04-15,HT06,20200415
2,2,0,0,0.00,2020-04-15,HT08,20200415
3,16,2,0,0.00,2020-04-15,HT10,20200415
4,28,0,0,0.00,2020-04-15,HT03,20200415
...,...,...,...,...,...,...,...
93,5,1,0,0.00,2020-04-07,HT04,20200407
94,6,1,0,0.00,2020-04-07,HT09,20200407
95,196,18,1,0.06,2020-04-07,HT01,20200407
96,6,0,0,0.00,2020-04-07,HT07,20200407
97,21,4,0,0.00,2020-04-07,HT02,20200407

In [223]:
min_date = covid_cases0.document_date.min()
max_date = covid_cases0.document_date.max()
date_table = pd.DataFrame(pd.date_range(min_date,max_date),columns=['date'])
date_table['Date_Id']=date_table.date.apply(lambda x: str(x).replace('-','')[0:8])
date_table['month']=date_table['date'].dt.month
date_table['year']=date_table['date'].dt.year
date_table['Quarter']=date_table['date'].dt.quarter
date_table['week']=date_table['date'].dt.isocalendar().week
date_table

        date   Date_Id  month  year  Quarter  week
0 2020-04-07  20200407      4  2020        2    15
1 2020-04-08  20200408      4  2020        2    15
2 2020-04-09  20200409      4  2020        2    15
3 2020-04-10  20200410      4  2020        2    15
4 2020-04-11  20200411      4  2020        2    15
5 2020-04-12  20200412      4  2020        2    15
6 2020-04-13  20200413      4  2020        2    16
7 2020-04-14  20200414      4  2020        2    16
8 2020-04-15  20200415      4  2020        2    16
9 2020-04-16  20200416      4  2020        2    16

In [230]:
spa0.to_sql(name='spa', con=engine, if_exists='replace')
departement.to_sql(name='departement', con=engine, if_exists='replace')
commune0.to_sql(name='commune', con=engine, if_exists='replace')
date_table.to_sql(name='date_table', con=engine, if_exists='replace')

In [231]:
mga.to_sql(name='mga_table', con=engine, if_exists='replace')

In [236]:
covid_cases0.to_sql(name='covid', con=engine, if_exists='replace')

In [242]:
depart.to_sql(name='departement', con=engine, if_exists='replace')

In [225]:
!pip install psycopg2
import psycopg2

Requirement already satisfied: psycopg2 in c:\users\elzina cherubin\appdata\local\programs\python\python39\lib\site-packages (2.9.1)WARNING: You are using pip version 21.1.1; however, version 21.2.3 is available.
You should consider upgrading via the 'c:\users\elzina cherubin\appdata\local\programs\python\python39\python.exe -m pip install --upgrade pip' command.

In [241]:
depart

  adm1code  departement
0     HT01        Ouest
1     HT02      Sud-Est
2     HT03         Nord
3     HT04     Nord-Est
4     HT05   Artibonite
5     HT06       Centre
6     HT07          Sud
7     HT08  Grande'Anse
8     HT09   Nord-Ouest
9     HT10       Nippes

In [247]:
spa.head()

,Unnamed: 0,index,facil,depart,departn,vilcom,vilcomn,factype,facdesc_1,facdesc,mga,service_laboratory,num_beds,ambulance,full_time,commune_id
0,0,0,1,1,Ouest,11,Port-Au-Prince,7.0,DISPENSAIRE,DISPENSAIRE,3,1.0,NaN,3.0,5.0,HT0111
1,1,1,2,1,Ouest,11,Port-Au-Prince,3.0,HOPITAL,HOPITAL COMMUNAUTAIRE DE REFERENCE,1,1.0,25.0,3.0,18.0,HT0111
2,2,2,3,1,Ouest,11,Port-Au-Prince,6.0,CENTRE DE SANTE SANS LIT,CENTRE DE SANTE SANS LIT,3,1.0,201.0,1.0,141.0,HT0111
3,3,3,4,1,Ouest,11,Port-Au-Prince,5.0,CENTRE DE SANTE AVEC LIT,CENTRE DE SANTE AVEC LIT,3,1.0,7.0,3.0,13.0,HT0111
4,4,4,5,1,Ouest,11,Port-Au-Prince,6.0,CENTRE DE SANTE SANS LIT,CENTRE DE SANTE SANS LIT,2,1.0,NaN,3.0,10.0,HT0111

In [272]:
list_desc = list(spa0.facdesc_1.unique())

spa0["facdesc_1"] = spa.facdesc_1.apply(lambda x: list_desc.index(x)+1)

list_desc = pd.DataFrame(list_desc, columns=["facdesc_1"])
list_desc["id"] = list_desc.index + 1
list_desc.set_index("id", inplace=True)
list_desc

                   facdesc_1
id
1                DISPENSAIRE
2                    HOPITAL
3   CENTRE DE SANTE SANS LIT
4   CENTRE DE SANTE AVEC LIT

In [273]:
spa0.to_sql(name = "spa", con = engine, if_exists="replace")

In [274]:
list_desc.to_sql(name = "facdesc_table", con = engine, if_exists="replace")

In [ ]:
# 1 Calculate the number of health facilities per commune.

squery1 = """SELECT commune."commune" as Commune, COUNT(spa."facdesc_1") as Quantity
FROM commune
INNER JOIN spa
on spa."commune_id" = commune."commune_id"
GROUP BY Commune
ORDER BY Quantity DESC"""

In [ ]:
# 2 Calculate the number of health facilities by commune and by type of health facility.

squery2 = """SELECT commune."commune" as Commune, facdesc_table."facdesc_1" as Etablissements,
COUNT(spa."facdesc_1") as Qte
FROM commune
INNER JOIN spa
on spa."commune_id" = commune."commune_id"
INNER JOIN facdesc_table
on facdesc_table."id" = spa."facdesc_1"
GROUP BY Commune, Etablissements
ORDER BY Commune, Qte DESC"""

In [ ]:
squery3 = """SELECT departement."departement" as Departement,
commune."commune" as Commune,
COUNT(spa."facdesc_1") as QTE
FROM commune
INNER JOIN spa
on spa."commune_id" = commune."commune_id"
INNER JOIN departement 
on departement."adm1code" = commune."departement_id"
GROUP BY Commune, Departement
ORDER BY Departement, QTE DESC
"""

In [ ]:
squery4 = """SELECT departement."departement" as Departement, mga_table."mga_type" as mga_type, COUNT(spa."facdesc_1") as sites
FROM spa 
INNER JOIN commune 
on spa."commune_id" = commune."commune_id"
INNER JOIN departement
on commune."departement_id" = departement."adm1code"
INNER JOIN mga_table 
on spa."mga" = mga_table."mga"
GROUP BY Departement, mga_type
ORDER BY Departement, sites"""

In [ ]:
# 5 Calculate the number of sites with an ambulance by municipality and by department (ambulance = 1.0)

squery5 = """SELECT departement."departement" as Departement, commune."commune" as Commune, count (spa."facdesc_1") as site_for_one_amb
FROM spa
INNER JOIN commune
on spa."commune_id" = commune."commune_id"
INNER JOIN departement
on commune."departement_id"= departement."adm1code"
WHERE spa."ambulance" = 1.0
GROUP BY Commune, Departement
ORDER BY Departement, site_for_one_amb
"""

In [ ]:
 # 6 Calculate the number of hospitals per 10k inhabitants per department.
 
squery6

In [ ]:
 # 7 Calculate the number of sites per 10k inhabitants per department 

squery7 (8) = """SELECT departement."departement" as Departement, COUNT(spa."num_beds"), SUM(DISTINCT commune."population"),
 		round((COUNT(spa."num_beds")*1000/SUM(DISTINCT commune."population")), 5) as Beds_1000_habs
FROM spa 
INNER JOIN commune 
on spa."commune_id"=commune."commune_id"
INNER JOIN departement
on commune."departement_id"= departement."adm1code"
GROUP BY Departement
ORDER BY Departement;"""

In [ ]:
# 8 Calculate the number of beb per 1k inhabitants per department.

squery8 = """with sum_pop as
	(SELECT commune."departement_id", SUM(commune."population") as commune
FROM commune 
	 group by commune."departement_id")
SELECT departement."departement", count(spa."num_beds") as beds, com,
		round((count(spa."num_beds")*1000/com), 5) as Beds_1000_habs
FROM spa 
INNER JOIN commune 
on spa."commune_id"=commune."commune_id"
INNER JOIN departement
on commune."departement_id"= departement."adm1code"
INNER JOIN sum_pop as sp
on departement."adm1code"= spa."departement_id"
GROUP BY departement."departement", com
ORDER BY com desc;"""

In [ ]:
# 9 How many communes have fewer dispensaries than hospitals?

squery9 = """with sum_hop as
	(SELECT commune."commune", commune."commune_id", COUNT(facdesc_table."facdesc_1") as HOPITAL
	FROM commune
	INNER JOIN spa
	on commmune."commune_id" = spa."commune_id"
	INNER JOIN facdesc_table
	on spa."facdesc_1" = facdesc_table."id"
	WHERE id = '2'
	GROUP BY commune."commune", commune."commune_id"
	ORDER BY HOPITAL desc),
sum_dis as
	(SELECT commune."commune", commune."commune_id", COUNT(facdesc_table."facdesc_1") as DISPENSAIRE
	FROM commune
	INNER JOIN spa
 	on commune."commune_id" = spa."commune_id"
	INNER JOIN facdesc_table
	on spa."facdesc_1" = facdesc_table."id"
	WHERE id = '1'
	GROUP BY commune."commune", commune."commune_id"
	ORDER BY DISPENSAIRE desc)
 SELECT sh."commune", HOPITAL, DISPENSAIRE
 FROM sum_hop as sh
INNER JOIN sum_dis as sd
on sh."commune_id"=sd."commune_id"
 GROUP BY sh."commune", HOPITAL, DISPENSAIRE
HAVING HOPITAL>DISPENSAIRE
ORDER BY commune; """

In [ ]:
# 10 How many  Letality rate per month?

squery10 = """SELECT round((sum(covid."deces")/(sum(covid."cas_confirmes"))),3) as tx_letalite, 
		dt."month"
FROM covid
INNER JOIN date_table
on covid."Date_Id" = date_table."Date_Id"
GROUP BY dt."month";"""

In [ ]:
# 11 How many Death rate per month?

squery11 = """SELECT round((sum(covid."deces")/(sum(commune."population"))),8) as tx_mortalite, 
		date_table."month"
FROM covid
INNER JOIN date_table
on covid."Date_Id"=date_table."Date_Id"
INNER JOIN departement
on covid."departement_id" = departement."adm1code"
INNER JOIN commune
on departement."adm1code" = commune."departement_id"
GROUP BY date_table."month";"""

In [ ]:
# 12 How many Prevalence per month?

squery12 = """SELECT date_table."month", round(((sum(covid."cas_suspects" + covid."cas_confirmes"))/(sum(c."population"))),6) as prevalence 
FROM covid
INNER JOIN date_table
on covid."Date_Id" = date_table."Date_Id"
INNER JOIN departement
on covid."departement_id"= departement."adm1code"
INNER JOIN commune
on departement."adm1code" = commune."departement_id"
GROUP BY date_table."month"
ORDER BY prevalence desc;"""

In [ ]:
# 13 How many Prevalence by department?

squery13 = """SELECT departement."departement", round(((sum(covid."cas_suspects" + covid."cas_confirmes"))/(sum(commune."population"))),8) as prevalence 
FROM covid
INNER JOIN date_table
on covid."Date_Id" = date_table."Date_Id"
INNER JOIN departement
on covid."departement_id" = departement."adm1code"
INNER JOIN commune
on departement."adm1code" = commune."departement_id"
GROUP BY departement."departement"
ORDER BY prevalence desc;"""

In [ ]:
# 14 What is the variation of the prevalence per week?

squery14 = """SELECT date_table."week", ROUND(((SUM(covid."cas_suspects" + covid."cas_confirmes"))/(SUM(commune."population"))),8) as Prevalence 
FROM covid
INNER JOIN date_table
on covid."Date_Id"=date_table."Date_Id"
INNER JOIN departement
on covid."departement_id"=departement."adm1code"
INNER JOIN commune 
on departement."adm1code" = commune."departement_id"
GROUP BY date_table."week"
ORDER BY date_table."week";
"""